<table>
  <tr>
    <th>State</td>
    <% @issues.each do |issue| %>
      <th><%= issue.title %></td>
    <% end %>
  </tr>
  <% @states.each do |state| %>
    <tr>
      <td><%= state.name %></td>
      <% @issues.each do |issue| %>
        <td><%= link_to state.percent_complete(issue), state_issue_path(state,issue) %></td>
      <% end %>
    </tr>
  <% end %>
</table>
