@import url('https://fonts.googleapis.com/css?family=Nunito|Raleway');
$body-font: "Nunito", sans-serif;
$header-font: "Raleway", sans-serif;
$red: #8E001C;
$gray: #424242;
$white: #FBF7E4;
$beige: #D3CEAA;