@import url('https://fonts.googleapis.com/css?family=Nunito|Roboto');
$body-font: Roboto, sans-serif;
$header-font: Nunito, sans-serif;
$red: #8E001C;
$gray: #424242;
$white: #FBF7E4;
$beige: #D3CEAA;